<div id="home">
  <div id="header">
    <h1>Balance: $<%= Activity.balance %></h1>
  </div>

  <div id="message">
    <h2><% if Activity.balance >= 0 %>
        <%= "Congrats! you're not in the negative." %>
        <% else %>
        <%= "NO!!! You are overdrawn!!!" %>
        <% end %></h2>
  </div>
  <div id="stats">
    <%= link_to "Transactions", activities_path %>
    <%= link_to "New Transaction", activities_new_path %>

    <h4>Number of transactions: <%= Activity.transactions %></h4>
    <h4>Largest purchase amount: <%= Activity.most_expensive %></h4>
    <h4>Purchases this month: <%= Activity.total_month %></h4>
    <h4>Purchases last month: <%= Activity.total_previous_month %></h4>
    <h4>Number of transactions for this month: <%= Activity.transactions_month %></h4>
    <h4>Number of transactions last month: <%= Activity.transactions_previous_month %></h4>
    <h4>Most expensive this month: <%= Activity.most_expensive_for_month %></h4>
  </div>
</div>
