<div id="all">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Amount:</strong>
    <%= @activity.amount %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= @activity.organization %>
  </p>

  <%= link_to 'Edit', edit_activity_path(@activity) %> |
  <%= link_to 'Back', activities_path %>
</div>
